/* common */

body {
  margin: 0;
}

img {
  vertical-align: bottom;
}

h1,
h2,
p {
  margin: 0;
}

.container {
  width: 400px;
  margin: 0 auto;
}


/* header */

header {
  background: #efefef;
}

header .container {
  padding: 24px 0;
  display: flex;
  align-items: center;
}

header .container div + div {
  margin-left: 32px;
}

header h1 {
  font-weight: normal;
  font-size: 24px;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header ul li + li {
  margin-left: 8px;
}

header .icon {
  border-radius: 50%;
}



/* main  */

main .container h1 {
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  padding: 60px 0;
}

main .container h2 {
  font-weight: normal;
  font-size: 20px;
  margin-top: 16px;
}

main .container p {
  font-size: 14px;
  line-height: 1.8;
  margin-top: 5px;
}

main section + section {
  margin-top: 60px;
}

/* footer */

footer {
  height: 30px;
  margin: 60px 0;
  text-align: center;
  color: #777;
  background-color: darkblue;
}